<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fuzik.com.myapplication">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 6.0版本以上的蓝牙权限需要模糊定位权限，仅作用于6.0+ -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 蓝牙分享所需的权限 -->


    　


    <uses-feature
        android:name="android.bluetooth.le"
        android:required="true" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:name=".Myapp"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LottieActivity" />
        <activity android:name=".FragmentActivity" />
        <activity android:name=".fragment_activity_demo.ScollableFragmentActivity" />
        <activity android:name=".fragment_activity_demo.FixedFragmentActivity" />
        <activity android:name=".fragment_activity_demo.DynamicActivity" />
        <activity android:name=".fragment_activity_demo.OnlyIndicatorActivity" />
        <activity android:name=".fragment_activity_demo.BageFragmentActivity" />
        <activity android:name=".fragment_activity_demo.ContainerFragmentActivity" />
        <activity android:name=".fragment_activity_demo.CustomLayoutActivity" />
        <activity android:name=".fragment_activity_demo.CustomNavigatorActivity" />
        <activity android:name=".fragment_activity_demo.FragmentDemoActivity" />
        <activity android:name=".fragment_activity_demo.FragmentAndViewPagerActivity" />
        <activity android:name=".RecycleViewActivity" />
        <activity android:name=".recycleview_demo.normal.NorRecycleviewActivity" />
        <activity android:name=".recycleview_demo.FanLayoutManagerActivity" />
        <activity android:name=".recycleview_demo.CarouselLayoutManagerActivity" />
        <activity android:name=".recycleview_demo.ChipsLayoutManagerActivity" />
        <activity android:name=".recycleview_demo.HiveLayoutManagerActivity" />
        <activity android:name=".recycleview_demo.VlayoutActivity" />
        <activity android:name=".recycleview_demo.LondonEyeLayoutManagerActivity" />
        <activity android:name=".recycleview_demo.vlayoutmanager.VLayoutActivity" />
        <activity android:name=".recycleview_demo.vlayoutmanager.OnePlusNLayoutActivity"></activity>
    </application>

</manifest>